src/*.o
libexpat.a
src/.deps/*
config.log
autom4te.cache
Makefile
Makefile.in
config.status
smarta
smarta.log
aclocal.m4
src/.dirstamp
.exrc
expat/lib/.deps
compile
configure
depcomp
install-sh
missing
src/core/.deps/
src/core/.dirstamp
src/core/*.o
src/expat/.deps/
src/expat/.dirstamp
src/expat/libexpat_a-xmlparse.o
src/expat/libexpat_a-xmlrole.o
src/expat/libexpat_a-xmltok.o
src/xmpp/.deps/
src/xmpp/.dirstamp
src/xmpp/smarta-jid.o
src/xmpp/smarta-parser.o
src/xmpp/smarta-sasl.o
src/xmpp/smarta-stanza.o
src/xmpp/smarta-xmpp.o
var/log/*
var/run/*
var/data/*
tags
smarta.conf
*.log
.deps
deps
