src/*.o
examples/*.o
expat/lib/*.o
examples/active
examples/basic
examples/bot
examples/roster
libexpat.a
libstrophe.a
examples/roster
expat/lib/libexpat_a-xmlparse.o
expat/lib/libexpat_a-xmlrole.o
expat/lib/libexpat_a-xmltok.o
rc/.deps/*
